@page "/"

<PageTitle>Home</PageTitle>


<div class="p-4 container mx-auto">
      <h1 class="mb-6 text-3xl font-bold">CV Builder</h1>
      <div class="from-blue-600 text-white p-4 to-blue-950 bg-gradient-to-r shadow-md">
      <div class="container mx-auto flex flex-col items-center justify-between sm:flex-row">
        <div class="mb-4 flex items-center sm:mb-0">
       
          <span class="text-lg font-semibold">CV Builder v1</span>
        </div>
        <button  
          class="transition-colors duration-200">
          <a
            href="https://github.com/SaifSaidi/alquran-alkareem"
            target="_blank" 
            class="flex items-center"
          >
             GitHub
          </a>
        </button>
      </div>
    </div>
<CV_Builder.Client.Pages.CVBuilder />
</div>